*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color:hsl(0, 0%, 12%);
    width: 50vh;
    height: 85vh;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.information img{
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    margin-top: 1vh;
}

.information h1{
    color: white;
    font-size: 1.3rem;
    margin-top: 3vh;
}

.information span{
    color:hsl(75, 94%, 57%);
    font-size: 0.8rem;
    margin-bottom: 0.8vh;

}

.information p{
    color: hsl(0, 0%, 70%);
    font-size: 0.8rem;
    margin-bottom: 1vh;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 2vh;
}
.stats a {
    text-decoration: none;
    color: white;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 7vh;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    padding-top: 0.5vh;
    margin-bottom: 1.5vh;
    border-radius: 5px;
    cursor: pointer;
}
.links i {
    margin-right: 8px;
}
.links:hover{
    background-color: hsl(0, 0%, 30%);
}